@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */

html {
  background-color: #fff;
}

#wrapper.id_top {

  height: 100vh;
  #inner {
    height: 100%;
  }

  // slider
  .slider {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      
      opacity: 0;
    }
    .item.active {
      opacity: 1;
    }
    .item.transition {
      transition: opacity 1.2s $easeInOutQuad 0s;
    }
    .item:nth-child(1) {
      background: url(../resource/img/img01.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(2) {
      background: url(../resource/img/img02.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(3) {
      background: url(../resource/img/img03.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(4) {
      background: url(../resource/img/img04.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(5) {
      background: url(../resource/img/img05.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }


  // type text
  .text {
    position: absolute;
    left: 2%;
    // bottom: 10%;
    top: 80%;
    // transform: translate(-50% ,-50%);
    
    font-size: 50px;
    // display: flex;
    // align-items: center;
    
    white-space: nowrap;
    color: #fff;
  }

  .typing{
    border-right: 1px solid #000;
    animation: caret 1s steps(1) infinite;
    
    // width: 1px;
    // height: 50px;
    // padding-left: 3px;
    // display: inline-block;
    
    display: inline-block;
    height: 45px;
    position: relative;
    top: 4px;
    padding-left: 7px;
    border-right: 3px solid #fff;

  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  
 
}