@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */

html {
  background-color: #fff;
}

#wrapper.id_top {

  .slider {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      
      opacity: 0;
      transition: opacity 1.2s $easeInOutQuad 0s;
    }
    .item.active {
      opacity: 1;
    }
    .item:nth-child(1) {
      background: url(../resource/img/img01.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(2) {
      background: url(../resource/img/img02.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(3) {
      background: url(../resource/img/img03.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(4) {
      background: url(../resource/img/img04.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .item:nth-child(5) {
      background: url(../resource/img/img05.jpg) no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
 
}