/* --------------------------------------------------------------------------------
*
*   opacity
*
-------------------------------------------------------------------------------- */
  
// hover
.hover_op {

  // media query
  @include media-min('sp') {

    // transition: opacity .45s $easeOutQuint 0s;
    transition: opacity .2s $easeOutQuint 0s;
        
    &:hover {
      cursor: pointer;
      opacity: 0.6 !important;
    }

  }

}

// show / hide
.showOp {
  opacity: 0;
  transition: opacity .6s $easeOutQuad 0s;
}
.showOp.is-show {
  opacity: 1;
}

/* --------------------------------------------------------------------------------
*
*   flash
*
-------------------------------------------------------------------------------- */
.flashShow .inner {
  // animation: kf_flash 0.05s 6;
  
  // filter: blur(0px) !important;
  opacity: 1 !important;
}

.flash:hover {
  animation: kf_flash 0.05s infinite;
}

.flashD {
  animation: kf_flash 0.02s 7 normal forwards;
}

@-moz-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}
@-webkit-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}
@-o-keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}
@keyframes kf_flash {
  50% {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
  }
}

/* --------------------------------------------------------------------------------
*
*   scale
*
-------------------------------------------------------------------------------- */
.scale {
  transition: transform .35s $easeOutQuad 0s;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.scale_img {
  transition: transform .3s $easeOutQuad 0s;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
}

/* --------------------------------------------------------------------------------
*
*   color
*
-------------------------------------------------------------------------------- */
.hColor {
  transition: color .3s $easeOutQuad 0s;
  
  &:hover {
    cursor: pointer;
    color: #f63e69 !important;
  }
}

.hBgColor {
  transition: background-color .3s $easeOutQuad 0s;
  
  &:hover {
    cursor: pointer;
    background-color: #F63E69 !important;
  }
}


/*
*
*   cursor
*
*/
.cp {cursor: pointer;}


/* --------------------------------------------------------------------------------
*
*   shadow
*
-------------------------------------------------------------------------------- */
.hover_boxShadow {
  transition: all .2s $easeOutQuad 0s;
  
  &:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20) !important;
    opacity: 0.7;
    cursor: pointer;    
  }
}

/* --------------------------------------------------------------------------------
*
*   filter
*
-------------------------------------------------------------------------------- */
.brightFilter {
  // filter: brightness(10) grayscale(100);
  // filter: brightness(30) grayscale(100) blur(10px) drop-shadow(0px 0px 20px #fff);
  // filter: brightness(50) grayscale(100) drop-shadow(0px 0px 40px #fff);
  filter: brightness(50) grayscale(100);
  opacity: 0;
  
  transition: filter 1.6s $easeOutExpo 0s, opacity 1.6s $easeOutExpo 0s;
}
.is-show .brightFilter {
  // filter: brightness(1) grayscale(0);
  // filter: brightness(1) grayscale(0) blur(0px) drop-shadow(0px 0px 0px #fff);
  // filter: brightness(1) grayscale(0) drop-shadow(0px 0px 0px #fff);
  filter: brightness(1) grayscale(0);
  opacity: 1;
}
.brightFilterAbout {
  // filter: brightness(10) grayscale(100);
  // filter: brightness(30) grayscale(100) blur(10px) drop-shadow(0px 0px 20px #fff);
  // filter: brightness(50) grayscale(100) drop-shadow(0px 0px 40px #fff);
  // filter: brightness(50) grayscale(100);
  opacity: 0;
  transform: translateY(300px);
  
  // transition: filter 1.6s $easeOutExpo 0s, opacity 1.6s $easeOutExpo 0s, transform 0.9s $easeOutExpo 0s;
  transition: opacity 1.2s $easeOutExpo 0s, transform 1.2s $easeOutExpo 0s;
}
#about.is-show.brightFilterAbout {
  // filter: brightness(1) grayscale(0);
  // filter: brightness(1) grayscale(0) blur(0px) drop-shadow(0px 0px 0px #fff);
  // filter: brightness(1) grayscale(0) drop-shadow(0px 0px 0px #fff);
  // filter: brightness(1) grayscale(0);
  opacity: 1;
  transform: translateY(0px);
}

/* --------------------------------------------------------------------------------
*
*   filte flash
*
-------------------------------------------------------------------------------- */
.brightFlash {

  cursor: pointer;
  // transform: translate3d(0,0,0px);
  
  &:hover {
    // animation: bF .5s $easeOutExpo 0s 1 normal forwards;
    animation: bF .5s $easeOutExpo 0s 1 normal;
  }
}

@-moz-keyframes bF {
  0% {
    filter: brightness(20);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes bF {
  0% {
    filter: brightness(20);
  }
  100% {
    filter: brightness(1);
  }
}
@-o-keyframes bF {
  0% {
    filter: brightness(20);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes bF {
  0% {
    filter: brightness(20);
  }
  100% {
    filter: brightness(1);
  }
}