@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
#wrapper.id_top {

  .svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    
    svg {
      width: 300px;
      height: 380px;
    }
  } 
 
}