/* --------------------------------------------------------------------------------
*
*   html,body
*
-------------------------------------------------------------------------------- */

html,body {
  
}

html {
  
  // baseフォント
  color: $font-color;
  font-size: $fz + px;
  font-family: $font;
  font-weight: $fw;  
  
  letter-spacing: $ls;
  
  // 背景
  background-color: $bg-color;
  // background: url(../resource/svg/common/bg.svg) no-repeat;
  // background-size: cover;
  // background-position: center center;

  // sp対策
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
  @if $visible == true { opacity: 1; }
  @else { opacity: 0; } 
  
  @if $sp_select == true { -webkit-tap-highlight-color:rgba(0,0,0,0); }

  @if $hidden == true { overflow: hidden; }

  // other
  // backface-visibility: hidden; //CSS 3D Transformsによる3次元の裏側を描画するかしないか　visible or hidden  
  // -webkit-font-smoothing: antialiased; //太く、細く
  // text-rendering: auto; // web fontカーニング指定

  /*
  *
  *   media query   
  *
  */
  @include media-max('sp-s') {
    
    $fz: 7;
    font-size: $fz + px;
        
  }
  // @media only screen and (max-height: 480px) {
    
  //   $fz: 7;
  //   font-size: $fz + px;
        
  // }
  // @include media-max('sp-s') {
    
  //   $fz: 4;
  //   font-size: $fz + px;
        
  // }

}

body {


  /*
  *
  *   media query   
  *
  */
  @include media-max('sp') {
        
  }

}

/* --------------------------------------------------------------------------------
*
*   #wrapper #inner
*
-------------------------------------------------------------------------------- */
#wrapper,#inner {
  
  
}

#wrapper {

  z-index: z(wrapper);
  font-size: rem(12 ,$fz);  
  
  /*
  *
  *   media query   
  *
  */
  @include media-max('sp-s') {

    // img {
    //   max-width: 100%;
    //   height: auto;
    // }
    
  }

}
#inner {

}

/* --------------------------------------------------------------------------------
*
*   .wrapper .inner
*
-------------------------------------------------------------------------------- */
.wrapper {
  
  
}

.inner {
  
}