@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */

html {
  background-color: #fff;
}

#wrapper.id_top {

  .layer {
    background-color: #000;
  }
 
}

.cursor {
  background-color: rgba(217,52,72,0);
  border: 2px solid rgba(217,52,72,1);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  
  opacity: 0;
  
  pointer-events: none;
}